<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Analysis Prototype</title>
</head>
<body style="background-color: #B5CBD1">
<header>
    <h1 style="text-align: center; color: #3B666B">Macedonian Stock Analysis</h1>
    <nav style="text-align: center">
        <a href="/" style="text-decoration: none; color: #ffffff">Home</a> |
        <a href="/run_pipeline" style="text-decoration: none; color: #ffffff">Run Pipeline</a> |
        <a href="/process_issuer" style="text-decoration: none; color: #ffffff">Process Issuer</a>
    </nav>
    <hr style="border:2px #1C3133 solid ">
</header>
{% block content %}{% endblock %}
</body>
</html>
